<%- include('head') -%>
<body class="posts-body">
  <div class="container">
    <%- include('sidebar') -%>
    <main class="posts">
      <h1>Discover Posts Made By Users</h1>
      <div class="feed-buttons">
        <button><a href="/feed/top">Most Liked</a></button>
        <button><a href="/feed/new">Most Recent</a></button>
      </div>
      <div class="posts-feed">
        <ul class="posts-list">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="post">
              <a href="/post/<%= posts[i]._id%>">
                <div class="image-container">
                  <img src="<%= posts[i].image%>">
                </div>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </main>
  </div>
</body>
