<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voices</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <section class="sidebar">
        <div>
            <nav class="sidebar-links">
                <!-- <li><a href="#">What is Liminal Space?</a></li> -->
                <li><a href="#">Home</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Site Help</a></li>
              </nav>
        </div>
    </section>
</body>
</html>