    <section class="sidebar">
        <div>
            <img src="/imgs/logo.png" alt="Logo">
            <nav class="sidebar-links">
                <li><a href="/">Home</a></li>
                <li><a href="/feed/oldest">Discover</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="#">Site Help</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
              </nav>
              <p>Copyright 2023 | Made by Matthew Page</p>
        </div>
    </section>