@keyframes animationtransition {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

body {
  font-weight: 700;
  background: #272727;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  padding: 21px 25px;
  background: rgba(255, 255, 255, 0.19);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

/* Styles for the sidebar links */
.sidebar .sidebar-links {
  padding: 10px;
  list-style: none;
}

/* Styles for the sidebar navigation */
.sidebar .sidebar-navigation {
  padding: 10px;
  background-color: darkgray;
}

.index-body {
  background-image: url("/imgs/scarbor-siu-Ecb9O-btHYs-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Styles for the main content area */
.main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}
.main-content-login-alert {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
}
.main-content .main-content-siteInfo {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .main-content-siteInfo h1 {
  margin: 5px 0;
  font-size: 6.5rem;
}
.main-content .main-content-siteInfo span {
  font-size: 3rem;
}
.main-content .main-content-siteInfo .siteInfo-question {
  margin-top: 20px;
  background: #04AA6D;
  padding: 17px;
  border-radius: 4px;
  font-size: 1.9rem;
  font-weight: 400;
}
.main-content .main-content-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(14.3px);
  padding: 10px;
}
.main-content .main-content-login-container .main-content-login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.main-content .main-content-login-container .main-content-login-form .login-form-container {
  padding: 3px;
}
.main-content .main-content-login-container .main-content-login-form .login-form-container .form-control {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #272727;
  width: 250px;
  height: 35px;
}
.main-content .main-content-login-container .main-content-login-form .login-form-container #emailHelp {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
}
.main-content .main-content-login-container .main-content-login-form .login-form-submit {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}
.main-content .main-content-login-container .form-button {
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.main-content .main-content-login-container .form-button button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}
.main-content .main-content-login-container .form-button input {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}
.main-content .main-content-login-container .form-button a {
  text-align: center;
  padding: 5px 0;
  font-weight: 400;
  color: white;
  font-size: 1.8rem;
}
.main-content .main-content-login-container .breaker {
  width: 100%;
  border: 0.5px solid white;
  margin-bottom: 10px;
}
.main-content-signup-container a {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */